*::selection {
  background-color: ltco_color('green-200');
  color: ltco_color('white');
}

#root {
  position: relative;
}

hr {
  border-top-color: ltco_color('gray-300');
}

main.ltco_main {
  background-color: ltco_color('white');
  position: relative;
  min-height: 200px;
}

.ltco_grid > [class*="container"] {
  @extend %ltco_grid;
}

.hidden-b {
  overflow: hidden;
}

.ltco_error {
  filter: grayscale(1);
  opacity: 0.3;
}

.img-ref {
  background-image: url('https://via.placeholder.com/1500/DBDBDB/000000?text=No+Image');
}

.ltco_image img {
  @extend .img-fluid;
  @extend .d-block;
}
