<header class="header ltco_carousel">
  <div id="carouselHeader" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHeader" data-slide-to="1"></li>
      <li data-target="#carouselHeader" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active img-ref">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="h1 text-white">Conheça nossa<br>Linha de produtos</h5>
          <p class="content">Produtos elaborados com alta tecnologia com alta qualidade Ambientaly.</p>
          <a href="#" class="btn btn-primary btn-small ltco_btn_arrow white">Conheça</a>
        </div>
      </div>
      <div class="carousel-item img-ref">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="h1 text-white">Conheça nossa<br>Linha de produtos</h5>
          <p class="content">Produtos elaborados com alta tecnologia com alta qualidade Ambientaly.</p>
          <a href="#" class="btn btn-primary btn-small ltco_btn_arrow white">Conheça</a>
        </div>
      </div>
      <div class="carousel-item img-ref">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="h1 text-white">Conheça nossa<br>Linha de produtos</h5>
          <p class="content">Produtos elaborados com alta tecnologia com alta qualidade Ambientaly.</p>
          <a href="#" class="btn btn-primary btn-small ltco_btn_arrow white">Conheça</a>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</header>
