<footer class="ltco_footer">
  <div class="container py-5">
    <div class="row justify-content-between mt-n5">
      <div class="d-flex col-12 col-lg-auto mt-5">
        <img src="./images/svgs/logo-ambientaly-white.svg" class="img-fluid m-auto" alt="logo-ambientaly-white">
      </div>
      <div class="divisor first"></div>
      <div class="col-12 col-sm-auto col-lg-auto mt-5">
        <nav class="ltco_footer__nav">
          <h4 class="ltco_footer__heading text-white">Ambientaly</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="empresa" class="nav-link">
                Empresa
              </a>
            </li>
            <li class="nav-item">
              <a href="produtos" class="nav-link">
                Produtos
              </a>
            </li>
            <li class="nav-item">
              <a href="sustentabilidade" class="nav-link">
                Sustentabilidade
              </a>
            </li>
            <li class="nav-item">
              <a href="contato" class="nav-link">
                Contato
              </a>
            </li>
            <li class="nav-item">
              <a href="unidades" class="nav-link">
                Unidades
              </a>
            </li>
            <li class="nav-item">
              <a href="https://ambientaly.feedback.house/trabalheconosco/" target="_blank" class="nav-link">
                Trabalhe Conosco
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="divisor"></div>
      <div class="col-12 col-sm-auto col-lg-auto mt-5">
        <nav class="ltco_footer__nav">
          <h4 class="ltco_footer__heading text-white">Unidades Ambientaly</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                - Ambientaly Imbaú
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                - Ambientaly Rio Negro
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                - Ambientaly Lages
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                - Ambientaly Guaíba
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="divisor last"></div>
      <div class="col-12 col-md-auto col-lg-auto mt-5">
        <div class="ltco_footer__social">
          <h4 class="ltco_footer__heading text-white">Rede Sociais</h4>
          <nav class="ltco_social ltco_social_theme_dark ltco_social_local_footer">
            <a href="#" class="linkedin" target="_blank" rel="external noopener noreferrer" title="LinkedIn Ambientaly">
              <img src="./images/svgs/icon-social-linkedin.svg" width="34" height="34" alt="ltco_icon_linkedin">
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="ltco_footer__copyright">
    <div class="container">
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-sm-between">
        <span>© <span class="d-none d-sm-inline">2020 Ambientaly. </span>Todos os direitos reservados.</span>
        <a class="ml-sm-3" href="http://www.sinaispublicidade.com.br/" target="_blank" rel="external noopener noreferrer">
          Agência <strong>SINAIS</strong>
        </a>
      </div>
    </div>
  </div>
</footer>
