<form class="ltco_forms needs-validation" novalidate>
  <div class="form-row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome*" required aria-required="true">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="E-mail*" required aria-required="true">
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" placeholder="Telefone*" required aria-required="true">
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" placeholder="Celular*" required aria-required="true">
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <div class="form-group w-100">
        <textarea class="form-control h-100" placeholder="Mensagem*" required aria-required="true"></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary ltco_btn_arrow white btn-large d-flex mx-auto mx-sm-0">Enviar</button>
</form>
