<nav class="navbar navbar-light ltco_navbar_header">
  <div class="container">

    <a class="navbar-brand" href=".">
      <img src="./images/svgs/logo-ambientaly.svg" width="180" alt="logo-ambientaly">
    </a>

    <ul class="nav ltco_navbar_header__navbar_visible ml-auto">
      <li class="nav-item">
        <a  href="empresa" class="nav-link">
          Empresa
        </a>
      </li>
      <li class="nav-item">
        <a  href="produtos" class="nav-link">
          Produtos
        </a>
      </li>
      <li class="nav-item">
        <a  href="contato" class="nav-link">
          Contato
        </a>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
      aria-controls="navbarHeader" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="ltco_social ltco_social_local_header ml-4">
      <a href="#" class="linkedin" target="_blank" rel="external noopener noreferrer" title="LinkedIn Ambientaly">
        <img src="./images/svgs/icon-social-linkedin.svg" width="24" height="24" alt="ltco_icon_linkedin">
      </a>
    </nav>

    <div class="ltco_navbar_header__collapse navbar-collapse collapse" id="navbarHeader">
      <div class="navbar-wrapper">

        <button class="navbar-toggler inside" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Alternar navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <header class="ltco_navbar_header__collapse__logo pb-5 px-3 d-flex">
          <img src="./images/svgs/logo-ambientaly-white.svg" class="img-fluid m-auto" width="160" alt="logo-ambientaly-white">
        </header>

        <ul class="navbar-nav ltco_navbar_header__collapse__navbar">
          <li class="nav-item">
            <a href="empresa" class="nav-link">
              Empresa
            </a>
          </li>
          <li class="nav-item">
            <a href="produtos" class="nav-link">
              Produtos
            </a>
          </li>
          <li class="nav-item">
            <a href="unidades" class="nav-link">
              Unidades
            </a>
          </li>
          <li class="nav-item">
            <a href="sustentabilidade" class="nav-link">
              Sustentabilidade
            </a>
          </li>
          <li class="nav-item">
            <a href="contato" class="nav-link">
              Contato
            </a>
          </li>
          <li class="nav-item">
            <a href="https://ambientaly.feedback.house/trabalheconosco/" target="_blank" class="nav-link">
              Trabalhe Conosco
            </a>
          </li>
        </ul>

        <footer class="ltco_navbar_header__collapse__footer p-3 py-4">
          <nav class="ltco_social ltco_social_local_header">
            <a href="#" class="linkedin" target="_blank" rel="external noopener noreferrer" title="LinkedIn Ambientaly">
              <img src="./images/svgs/icon-social-linkedin.svg" width="24" height="24" alt="ltco_icon_linkedin">
            </a>
          </nav>
        </footer>

      </div>
    </div>

  </div>
</nav>
