<div class="ltco_management py-5">
  <div class="container">
    <div class="ltco_management__circles">
      <img src="./images/svgs/people-management-circles.svg" class="img-fluid" alt="people-management-circles">
    </div>
    <article class="ltco_management__content">
      <h2 class="ltco_management__content__heading">Gestão de Pessoas</h2>
      <p>A <strong>Ambientaly</strong> atua com total transparência e respeito com os profissionais da empresa, pois a sua valorização é o que constrói um bom ambiente de trabalho para todos.</p>

      <p>A <strong>Ambientaly</strong> utiliza o SEC – Sistema de Educação Corporativa, um conjunto de oportunidades para desenvolvimento dos colaboradores que é contínuo, crescente e cumulativo e abrange os Níveis de Formação Institucional, Treinamento Funcional e Desenvolvimento em Gestão.</p>
      <a href="#" class="btn btn-primary ltco_btn_arrow white btn-large">Saiba mais</a>
    </article>
  </div>
</div>
